.statistics {
    width: 50%;
    text-align: center;
    background-color: #F7F7F7;
    margin: auto;
    padding-bottom: 30px;
}
.title {
    font-size: 30px;
    color: grey;
    padding: 30px;
}
.statList {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}
.item {
    display: flex;
    width: 10%;
    flex-direction: column;
    padding: 30px;
}
.label {
    font-size: 20px;
    color: white;
}
.percentage {
    font-size: 20px;
    color: white;
}